
<mat-toolbar color="warn" >
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Resto-app</span>
    <span class="espace"></span>
    <mat-icon matBadge="{{badge}}" matBadgeColor="accent">shopping_cart</mat-icon>
</mat-toolbar>
<mat-sidenav-container autosize class="sides" hasBackdrop="true" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav mode="over" class="sidenav">
        <mat-selection-list [multiple]="false">
            <mat-list-option  routerLink="/recipe"> Recipes Management <mat-icon matListIcon>description</mat-icon></mat-list-option>
            <mat-list-option  routerLink="/sales"> Sales <mat-icon matListIcon>shoping cart</mat-icon></mat-list-option>
            <mat-list-option  routerLink="/about"> About <mat-icon matListIcon>info</mat-icon></mat-list-option>
        </mat-selection-list>
    </mat-sidenav>
    <mat-sidenav-content class="conts" #content>
       <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
